{% extends "base.jinja"%}
{%block main%}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Tous mes services</h1>
    <h1>Crédit : {{session['credit']}}$</h1>
</div>
<div id="liste" data-id="{{session.get('id')}}" class="d-flex flex-wrap gap-3 justify-content-around">
    
</div>
{%endblock%}
{%block link%}
<script src="{{url_for('static', filename='js/messervices.js')}}"></script>
{%endblock%}