.container-c {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
    border: solid black 5px;
	text-align: center;
}

.card{
	border: solid black 2px; 
	margin: 1rem;
	width: 40%;
}

main a{
	text-decoration: none;
	color: black;
}

img{
	max-width: 100%;
}