.container-c {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	align-items: center;
}

// .card{
// 	border: solid black 2px; 
// 	margin: 1rem;
// 	width: 40%;
// }

p, label{
	font-size: 20px;
	color: black;
}

footer, header{
	height: 20%;
}

header{
	height: 50px;
	background-color: rgb(192, 192, 255);

	a{
		color: black;
	}
}

main {
	height: 60%;
	.taille {
		width: 42%;
	}
}


footer{
	background-color: rgb(192, 192, 255);
}



label{
	margin-right: 10px;
}

form div{
	margin-top: 40px;
	width: 100%;
	input{
		width: 30%;
		margin-left: 40px;
	}
}

img{
	max-width: 100%;
}

// .carre{
// 	width: 400px;
// 	border: solid black 20px;
// }