{%extends 'base.jinja'%}
{%block main%}
<ul>
    {% for compte in lescomptes%}
    <li><a href="{{ url_for('compte.suppr', id=compte['id_compte']) }}"> {{compte['nom']}} , {{compte['role']}}</a></li>
    {%endfor%}
</ul>
{%endblock%}