{% extends "base.jinja"%}
{%block main%}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Tous mes services</h1>
    <h1>Crédit : {{session['credit']}}$</h1>
</div>
<div class="d-flex flex-wrap gap-3 justify-content-around">
    {% for service in lesservices %}
    <div class="card taille">
        {# <div class="card-header">Derniers services</div> #}
        <div class="card-body">
            <p class="h2 card-title">{{service["titre"]}}</p>
            <img class="card-text" src="../static/placeholder.png" alt="image placeholder">
            <p class="card-text">{{service["nom_categorie"]}} <br> {{service["description"]}} <br> localisation: {{service["localisation"]}}</p>
            <a href="{{url_for('gestion_services.changement', id_change=service['id_service'] )}}" class="text-decoration-none w-25"><div class="bg-info text-white h3 inline text">Modifier le service</div></a>
        </div>
    </div>
    {% endfor %}
</div>
{%endblock%}