{%extends "base.jinja" %}
{% block main%}
<form action="" method="post">
    <div class="d-flex justify-content-between ">
        <label for="nom_service">Nom du service: </label>
        <div>
            <input type="text" value="{{service["titre"]}}" name="nom_service" id="nom_service" class="text-center {{valide_nom}}">
            <div class="invalid-feedback">Le nom est obligatoire</div>
        </div>
    </div>
    <div class="d-flex justify-content-between ">
        <label for="choix_categorie">Catégorie: </label>
        <div>
            <select name="choix_categorie" id="choix_categorie" required disabled>
                {% for categorie in liste_categorie %}
                <option value="{{categorie["id_categorie"]}}">{{categorie["nom_categorie"]}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <label for="localisation_service">Localisation (ville):</label>
        <div>
            <input type="text" name="localisation_service" id="localisation_service" class="text-center {{valide_localisation}}" required  value="{{service["localisation"]}}">
            <div class="invalid-feedback">La localisation est obligatoire</div>
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <label for="nom_service">Description: </label>
        <div>
            <input type="text" name="description_service" class="text-center {{valide_description}}" id="description_service" maxlength="100" value="{{service["description"]}}">
            <div class="invalid-feedback">La description est obligatoire</div>        
        </div>
    </div>

    <div class="d-flex justify-content-between">
        <label for="cout_service">Coût($): </label>
        <div>
            <input type="number" name="cout_service" id="cout_service" class="chiffre text-center" step="0.01" value="{{service["cout"]}}">
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <label for="actif_service">Statut: </label>
        <input type="checkbox" name="actif_service" id="actif_service" value="1" {%if service["actif"] == 1 %} checked {%endif%}>
    </div>
    <div><input type="submit" value = "Modifier"></div>
</form>
{%endblock%}