{% extends "base.jinja" %}

{% block main %}

<div class="container">
    <div class="row justify-content-center align-middle gap-4">
        <section class="col-4 border"> 
            <img src=".../static/placeholder.png">
            <h1>Prix: {{item["cout"]}}$</h1>
        </section>
        <section class="col-6 border"> 
            {%if item["actif"] < 1%}
            <h1>{{item["titre"]}} <span>(non-actif)</span> </h1>
            {% else %}
            <h1>{{item["titre"]}} <span class="text-success">(actif)</span> </h1>
            {% endif %}
            <p class="h3">Localisation: {{item["localisation"]}}</p>
            <p class="h3">Catégorie: {{item["nom_categorie"]}}</p>
            <p>({{item["date_creation"]}})<br>{{item["description"]}}</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dolor massa, mattis vitae elit id, dignissim porttitor ipsum. Nunc sed eros a dolor imperdiet efficitur. Mauris ornare at ex ut aliquam. Nunc tristique nulla nec fermentum pellentesque. Nam quis bibendum ante. Suspendisse tincidunt magna vel dolor aliquet vehicula. Vestibulum eget nibh tellus. Phasellus accumsan vel diam quis varius.
                Suspendisse eget finibus elit. Nullam ultrices leo non nulla porttitor consectetur. Nam bibendum lorem metus, ullamcorper tempor diam tristique viverra. Pellentesque rhoncus, nulla sed euismod dignissim, turpis felis sagittis nunc, vitae tempus odio eros ac dui. Ut vel lobortis diam, eu porttitor ante. Praesent pellentesque accumsan mollis. Vestibulum ut purus fermentum, faucibus justo ut, euismod nulla. Fusce aliquam risus sit amet ex luctus faucibus. Donec quis mi felis.</p>
            {%if proprietaire %}
            <a href="/changement/id_change" class="text-decoration-none w-25 bg-info text-white h3 text">Modifier le service</a>
            {%if offert%}
            <a href="/supprimer/id_change" class="text-decoration-none w-25 bg-info text-white h3 text">Supprimer le service</a>
            {%endif%}
            {%endif%}
        </section>
    </div>

</div> 

{% endblock %}
