{% extends "base.jinja"%}
{%block link%}
<script src="{{url_for('static', filename='js/listeservices.js')}}"></script>
{%endblock%}
{%block main%}
<h1>Tous les services</h1>
<div id="liste" class="d-flex flex-wrap gap-3 justify-content-around">
    
</div>
{%endblock%}