{% extends "base.jinja" %}
{% block main %}
    <h1>Derniers services modifiés</h1>
    <div class="d-flex flex-wrap">
        {% for item in items %}
        <div class="card w-50 gap-2">
            {# <div class="card-header">Derniers services</div> #}
            <div class="card-body">
                <p class="h2 card-title">{{item["titre"]}}</p>
                <img class="card-text" src="../static/placeholder.png" alt="image placeholder">
                <p class="card-text"> {{item["nom_categorie"]}} <br> {{item["description"]}} <br> localisation: {{item["localisation"]}}</p>
                <a href="/details?id={{item["id_service"]}}" class="text-decoration-none w-25"><div class="bg-info text-white h3 inline text">Detais du service</div></a>
            </div>
        </div>
        {% endfor %}
    </div>
    

{% endblock %}